<% admin_breadcrumb(link_to 'Blog', main_app.admin_blogs_path) %>
<% admin_breadcrumb('New Blog') %>

<% content_for :page_actions do %>
<% end %>
<%= render partial: 'spree/shared/error_messages', locals: { target: @blog } %>
<%= form_for @blog, url: main_app.admin_blogs_path, html: { method: :post } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <div class="clear"></div>

  <%= render partial: 'spree/admin/shared/new_resource_links', locals: {collection_url: main_app.admin_blogs_path} %>
<% end %>