<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Your Withdrawal</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/producer_dashboard/withdrawals">Withdrawals</a></li>
          <li class="nav-item"> <a class="nav-link" href="/producer_dashboard/request_withdrawal">Submit Request</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/orders">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Your Orders</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/products">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Your Products</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/payment_info">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Your Payment Info</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/producer_dashboard/support">
        <i class="icon-contract menu-icon"></i>
        <span class="menu-title">Support</span>
      </a>
    </li>
  </ul>
</nav>