<% flash.each do |type, msg| %>
  <%= render partial: 'spree/producer_dashboard/elements/alert', locals: { message: msg, type: type } %>
<% end %>
<div class="row">
    <div class="col-12">
        <%= render partial: 'spree/producer_dashboard/payment_info_form', locals: { info: @info } %>
    </div>
</div>