<h3>Your Products</h3>
<div class="row mt-4">
    <div class="col-md-12 grid-margin">
        <%= render partial: 'spree/producer_dashboard/elements/products_table', locals: { products: @products } %>
    </div>
</div>