<div class="row">
    <div class="col-sm-12 col-md-6 grid-margin stretch-card">
        <%= render partial: 'spree/producer_dashboard/elements/withdrawal_summary' %>
    </div>
    <div col="col-sm-12 col-md-6 grid-margin stretch-card">
        <%= render partial: 'spree/producer_dashboard/withdrawal_request_form' %>
    </div>
</div>