<h3>Your Shipping Requests</h3>
<div class="row mt-4">
    <div class="col-md-12">
        <%= render partial: 'spree/producer_dashboard/elements/shipping_requests_table', locals: { requests: @requests } %>
    </div>
</div>
