<% flash.each do |type, msg| %>
    <%= render partial: 'spree/producer_dashboard/elements/alert', locals: { message: msg } %>
<% end %>
<div class="row">
    <%= render partial: 'spree/producer_dashboard/ticket_form' %>
</div>