<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <%= render partial: 'spree/producer_dashboard/elements/withdrawals_table', locals: { wd_requests: @wd_requests } %>
  </div>
</div>