<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-12 mx-auto">
                <div class="about-us2">
                    <div class="inner">
                        <h2 class="title">Find your perfect craft</h2>
                        <h5 class="sub-title">WELCOME TO PRADIPA</h5>
                        <div class="desc">
                            <p>We understand your needs of quality crafts. We have carefully selected the best crafters in Indonesia to create a high value craft you can enjoy</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>