<div class="section section-fluid section-padding" data-bg-color="#f4f3ec">
    <div class="container">
        <div class="row align-items-center learts-mb-n30">

            <div class="col-lg-6 col-12 learts-mb-30">
                <div class="product-deal-image text-center">
                    <%= image_tag 'product/deal-product-2.png' %>
                </div>
            </div>

            <div class="col-lg-6 col-12 learts-mb-30">
                <div class="product-deal-content">
                    <h2 class="title">Deal of the day</h2>
                    <div class="desc">
                        <p>Years of experience brought about by our skilled craftsmen could ensure that every piece produced is a work of art. Our focus is always the best quality possible.</p>
                    </div>
                    <div class="countdown1" data-countdown="2021/01/01"></div>
                    <a href="shop.html" class="btn btn-dark btn-hover-primary">Shop Now</a>
                </div>
            </div>

        </div>
    </div>
</div>