<li class="has-children"><a href="/"><span class="menu-text">Fashion</span></a>
    <ul class="sub-menu mega-menu">
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Popular Categories</span></a>
            <ul>
                <li><a href="shop.html"><span class="menu-text">Potteries</span></a></li>
                <li><a href="shop-left-sidebar.html"><span class="menu-text">Glasses</span></a></li>
                <li><a href="shop-right-sidebar.html"><span class="menu-text">Bags</span></a></li>
                <li><a href="shop-fullwidth-no-gutters.html"><span class="menu-text">Fashion</span></a></li>
                <li><a href="shop-fullwidth.html"><span class="menu-text">Metals</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Gifts for You</span></a>
            <ul>
                <li><a href="product-details.html"><span class="menu-text">Daily Gifts</span></a></li>
                <li><a href="product-details-fullwidth.html"><span class="menu-text">Wedding Gifts</span></a></li>
                <li><a href="product-details-sticky.html"><span class="menu-text">Lover's Gifts</span></a></li>
                <li><a href="product-details-sticky.html"><span class="menu-text">Holiday Gifts</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Our Featured Producers</span></a>
            <ul>
                <li><a href="product-details-background.html"><span class="menu-text">Pancaniti Keramik</span></a></li>
                <li><a href="shopping-cart.html"><span class="menu-text">Wadah Terrarium</span></a></li>
                <li><a href="checkout.html"><span class="menu-text">Anita Bags</span></a></li>
                <li><a href="order-tracking.html"><span class="menu-text">Yayan Woodworks</span></a></li>
            </ul>
        </li>
        <li class="align-self-center">
            <a href="#" class="menu-banner"><%= image_tag "for_use/banner/menu-banner-1.jpg" %></a>
        </li>
    </ul>
</li>
<li class="has-children"><a href="/products"><span class="menu-text">Accessories</span></a>
    <ul class="sub-menu mega-menu">
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Popular Categories</span></a>
            <ul>
                <li><a href="shop.html"><span class="menu-text">Potteries</span></a></li>
                <li><a href="shop-left-sidebar.html"><span class="menu-text">Glasses</span></a></li>
                <li><a href="shop-right-sidebar.html"><span class="menu-text">Bags</span></a></li>
                <li><a href="shop-fullwidth-no-gutters.html"><span class="menu-text">Fashion</span></a></li>
                <li><a href="shop-fullwidth.html"><span class="menu-text">Metals</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Gifts for You</span></a>
            <ul>
                <li><a href="product-details.html"><span class="menu-text">Daily Gifts</span></a></li>
                <li><a href="product-details-fullwidth.html"><span class="menu-text">Wedding Gifts</span></a></li>
                <li><a href="product-details-sticky.html"><span class="menu-text">Lover's Gifts</span></a></li>
                <li><a href="product-details-sticky.html"><span class="menu-text">Holiday Gifts</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Our Featured Producers</span></a>
            <ul>
                <li><a href="product-details-background.html"><span class="menu-text">Pancaniti Keramik</span></a></li>
                <li><a href="shopping-cart.html"><span class="menu-text">Wadah Terrarium</span></a></li>
                <li><a href="checkout.html"><span class="menu-text">Anita Bags</span></a></li>
                <li><a href="order-tracking.html"><span class="menu-text">Yayan Woodworks</span></a></li>
            </ul>
        </li>
        <li class="align-self-center">
            <a href="#" class="menu-banner"><%= image_tag "for_use/banner/menu-banner-1.jpg" %></a>
        </li>
    </ul>
</li>
<li class="has-children"><a href="/about-us"><span class="menu-text">Home Deco</span></a>
    <ul class="sub-menu mega-menu">
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Popular Categories</span></a>
            <ul>
                <li><a href="shop.html"><span class="menu-text">Potteries</span></a></li>
                <li><a href="shop-left-sidebar.html"><span class="menu-text">Glasses</span></a></li>
                <li><a href="shop-right-sidebar.html"><span class="menu-text">Bags</span></a></li>
                <li><a href="shop-fullwidth-no-gutters.html"><span class="menu-text">Fashion</span></a></li>
                <li><a href="shop-fullwidth.html"><span class="menu-text">Metals</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Gifts for You</span></a>
            <ul>
                <li><a href="product-details.html"><span class="menu-text">Daily Gifts</span></a></li>
                <li><a href="product-details-fullwidth.html"><span class="menu-text">Wedding Gifts</span></a></li>
                <li><a href="product-details-sticky.html"><span class="menu-text">Lover's Gifts</span></a></li>
                <li><a href="product-details-sticky.html"><span class="menu-text">Holiday Gifts</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Our Featured Producers</span></a>
            <ul>
                <li><a href="product-details-background.html"><span class="menu-text">Pancaniti Keramik</span></a></li>
                <li><a href="shopping-cart.html"><span class="menu-text">Wadah Terrarium</span></a></li>
                <li><a href="checkout.html"><span class="menu-text">Anita Bags</span></a></li>
                <li><a href="order-tracking.html"><span class="menu-text">Yayan Woodworks</span></a></li>
            </ul>
        </li>
        <li class="align-self-center">
            <a href="#" class="menu-banner"><%= image_tag "for_use/banner/menu-banner-1.jpg" %></a>
        </li>
    </ul>
</li>
<li class="has-children"><a href="/about-us"><span class="menu-text">Gifts</span></a>
    <ul class="sub-menu mega-menu">
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Popular Categories</span></a>
            <ul>
                <li><a href="shop.html"><span class="menu-text">Potteries</span></a></li>
                <li><a href="shop-left-sidebar.html"><span class="menu-text">Glasses</span></a></li>
                <li><a href="shop-right-sidebar.html"><span class="menu-text">Bags</span></a></li>
                <li><a href="shop-fullwidth-no-gutters.html"><span class="menu-text">Fashion</span></a></li>
                <li><a href="shop-fullwidth.html"><span class="menu-text">Metals</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Gifts for You</span></a>
            <ul>
                <li><a href="product-details.html"><span class="menu-text">Daily Gifts</span></a></li>
                <li><a href="product-details-fullwidth.html"><span class="menu-text">Wedding Gifts</span></a></li>
                <li><a href="product-details-sticky.html"><span class="menu-text">Lover's Gifts</span></a></li>
                <li><a href="product-details-sticky.html"><span class="menu-text">Holiday Gifts</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="mega-menu-title"><span class="menu-text">Our Featured Producers</span></a>
            <ul>
                <li><a href="product-details-background.html"><span class="menu-text">Pancaniti Keramik</span></a></li>
                <li><a href="shopping-cart.html"><span class="menu-text">Wadah Terrarium</span></a></li>
                <li><a href="checkout.html"><span class="menu-text">Anita Bags</span></a></li>
                <li><a href="order-tracking.html"><span class="menu-text">Yayan Woodworks</span></a></li>
            </ul>
        </li>
        <li class="align-self-center">
            <a href="#" class="menu-banner"><%= image_tag "for_use/banner/menu-banner-1.jpg" %></a>
        </li>
    </ul>
</li>
<li class="has-children"><a href="#"><span class="menu-text">Info</span></a>
    <ul class="sub-menu">
        <li><a href="/blogs"><span class="menu-text">Newsletter</span></a></li>
        <li><a href="/about-us"><span class="menu-text">About Us</span></a></li>
        <li><a href="/contact-us"><span class="menu-text">Contact Us</span></a></li>
    </ul>
</li>