<div class="section border-top learts-pt-30 learts-pb-30">
    <div class="container">
        <div class="row learts-mb-n30">

            <div class="col-lg-3 col-sm-6 col-12 learts-mb-30">
                <div class="icon-box5">
                    <div class="icon" data-bg-color="#f4ede7"><i class="fas fa-leaf"></i></div>
                    <div class="content">
                        <h4 class="title">All Natural</h4>
                        <p>Loved by nature</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12 learts-mb-30">
                <div class="icon-box5">
                    <div class="icon" data-bg-color="#f4ede7"><i class="fas fa-globe"></i></div>
                    <div class="content">
                        <h4 class="title">Sustainable</h4>
                        <p>Good for earth</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12 learts-mb-30">
                <div class="icon-box5">
                    <div class="icon" data-bg-color="#f4ede7"><i class="fa fa-handshake"></i></div>
                    <div class="content">
                        <h4 class="title">Fair Trade</h4>
                        <p>Fair for all</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12 learts-mb-30">
                <div class="icon-box5">
                    <div class="icon" data-bg-color="#f4ede7"><i class="fas fa-gift"></i></div>
                    <div class="content">
                        <h4 class="title">Fresh Looking</h4>
                        <p>Great for you</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>