<li class=""><a href="/products">
    <span class="menu-text">Fashion</span></a>
</li>
<li class="">
    <a href="/products"><span class="menu-text">Accessories</span></a>
</li>
<li class=""><a href="/products">
    <span class="menu-text">Home Deco</span></a>
</li>
<li class=""><a href="/products">
    <span class="menu-text">Gifts</span></a>
</li>
<li class="has-children"><a href="#"><span class="menu-text">Info</span></a>
    <ul class="sub-menu">
        <li><a href="/blogs"><span class="menu-text">Newsletter</span></a></li>
        <li><a href="/about-us"><span class="menu-text">About Us</span></a></li>
        <li><a href="/contact-us"><span class="menu-text">Contact Us</span></a></li>
    </ul>
</li>