<div class="section section-fluid section-padding pt-0">
    <div class="container">

        <div class="section-title2 text-center">
            <h3 class="sub-title">Follow us on Instagram</h3>
            <h2 class="title">@pradipa.co</h2>
        </div>

        <div id="instafeed" class="instagram-carousel instagram-carousel1 instagram-feed"></div>

    </div>
</div>