<div class="section section-padding">
    <div class="container">
        <div class="text-center about-us3 learts-mb-30">
            <span class="sub-title">Our Missions</span>
            <h3>We, Pradipa.co, provide solutions in encouraging the use of natural means for fashion</h3>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12 text-center mb-4">
                <h5>Trade fairly, prosper holistically</h5>
                <%= image_tag "for_use/icons/fairtrade.png", class: "mission-icon" %>
                <p>We selected our partners carefully to make sure that we can delivery quality to you while fulfilling a divine mission.
                Every purchase you make is distributed fairly to ensure our partners social and financial conditions are elevated</p>

            </div>
            <div class="col-md-4 col-sm-12 text-center mb-4">
                <h5>Start naturally, sustain globally</h5>
                <%= image_tag "for_use/icons/natural.png", class: "mission-icon" %>
                <p>We know that fashion industry is the sector that pollutes the most, accounting 10% of the humanity's carbon emissions 
                and 20% global wastewater. We choose natural fibers to tackle the challenges of reducing the pollutions</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center mb-4">
                <h5>Preserve beautifully, deliver sophisticatedly</h5>
                <%= image_tag "for_use/icons/handbag.png", class: "mission-icon" %>
                <p>Natural fibers have distinctive characteristics and that's how we make the best use of it. We cater to the designs
                that are timeless and natural so you will not only look beautiful, but also different and unique</p>
            </div>
        </div>
    </div>
</div>