<div class="section section-fluid" style="padding:0">
    <div class="row g-0">

        <div class="col-lg-6 col-12">
            <div class="sale-banner9 bg-light">
                <div class="inner">
                    <div class="content">
                        <h3 class="title">Our Creative Story</h3>
                        <span class="offer" style="font-size:36px">Start Locally, Dream Globally</span>
                        <a href="/products" class="btn btn-dark btn-hover-primary">Discover Our Collections</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12">
            <div class="sale-banner9-image">
                <div class="parallax-banner parallax-banner-3" data-scrollax-parent="true" style="background:#00000044;height:100%;min-height:0">
                    <div class="parallax-image" data-scrollax="properties: { translateY: '30%' }">
                        <div class="iframe-video video-player" data-video-code="IqVVZw3UhoA" style="transform:scale(1.1)"></div>
                    </div>
                </div>
                <%= image_tag "banner/sale/sale-banner9-1.2.jpg" %>
            </div>
        </div>

    </div>
</div>