<div class="parallax-banner parallax-banner-1" data-scrollax-parent="true">
    <div class="parallax-image" data-scrollax="properties: { translateY: '30%' }">
        <img src="<%= image_url 'banner/parallax/parallax-1.jpg' %>" alt="parallax-1" />
    </div>
    <div class="content text-center" data-scrollax="properties: { opacity: '2' }">
        <span class="sub-title">Large</span>
        <h2 class="title">CUTTING BOARD</h2>
    </div>
</div>