<div class="parallax-banner parallax-banner-4" data-scrollax-parent="true">
    <div class="parallax-image" data-scrollax="properties: { translateY: '30%' }">
        <img src="<%= image_url 'banner/parallax/parallax-4.jpg'%>" alt="parallax-4" />
    </div>
    <div class="content">
        <span class="sub-title">made for you</span>
        <h2 class="title">Salmon Cutting Board Blue Stone</h2>
        <a href="shop.html">+ Online store</a>
    </div>
</div>