<% bg ||= 'banner/parallax/parallax-2.jpg' %>

<div class="parallax-banner parallax-banner-3" data-scrollax-parent="true">
    <div class="parallax-image" data-scrollax="properties: { translateY: '30%' }">
        <img src="<%= image_url bg %>" alt="parallax-3" />
    </div>
    <div class="content text-center">
        <img class="sub-title " src="<%= image_url 'banner/parallax/parallax-3-1.png' %>" alt="Price">
        <h2 class="title">Alumsy Shelf</h2>
        <a href="shop.html" class="btn btn-light btn-hover-dark">shop now</a>
    </div>
</div>