<div class="section section-padding">
    <div class="container">

        <div class="row learts-mb-50">
            <div class="col">
                <div class="section-title text-center mb-0">
                    <h3 class="sub-title">Just for you</h3>
                    <h2 class="title title-icon-both">Discover our recent products for you</h2>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="product-all">
                <div class="products row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
                    <% products.each do |product| %>
                        <%= render partial: 'spree/elements/product_card', locals: { product: product } %>
                    <% end %>
                </div>
            </div>
            <div class="tab-pane fade" id="product-gift-ideas">
                <div class="products row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

                </div>
            </div>
            <div class="tab-pane fade" id="product-home-decor">
                <div class="products row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

                </div>
            </div>
            <div class="tab-pane fade" id="product-kitchen">
                <div class="products row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

                </div>
            </div>
            <div class="tab-pane fade" id="product-toys">
                <div class="products row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
                
                </div>
            </div>
        </div>

    </div>
</div>