<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n40">

            <div class="col-lg-4 learts-mb-40">
                <div class="section-title2 mb-5">
                    <h2 class="title title-icon-right">Blog update</h2>
                    <p>Subscribe for latest news and blog updates from our editor.</p>
                </div>
                <ul class="widget-list">
                    <li><i class="fal fa-long-arrow-right"></i><a href="#">Start a Kickass Online Blog</a></li>
                    <li><i class="fal fa-long-arrow-right"></i><a href="#">Tile Tray with Brass Handles</a></li>
                    <li><i class="fal fa-long-arrow-right"></i><a href="#">Dining Table Chairs Makeover</a></li>
                    <li><i class="fal fa-long-arrow-right"></i><a href="#">Faux Map Drawer Dresser</a></li>
                    <li><i class="fal fa-long-arrow-right"></i><a href="#">Printable Season Postcards 2019</a></li>
                </ul>
            </div>

            <div class="col-lg-8 learts-mb-40">
                <div class="row learts-mb-n40">

                    <div class="col-md-6 col-12 learts-mb-40">
                        <div class="blog">
                            <div class="image">
                                <a href="blog-details-right-sidebar.html"><%= image_tag "blog/s370/blog-7.jpg" %></a>
                            </div>
                            <div class="content">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i><a href="#">January 22, 2020</a></li>
                                    <li><i class="far fa-eye"></i> 95 views</li>
                                </ul>
                                <h5 class="title"><a href="blog-details-right-sidebar.html">Composure SDR Traveller</a></h5>
                                <div class="desc">
                                    <p>Our products enable a very pure form of travel, allowing our customer to confidently belong anywhere without worrying about what they are carrying. We have no exterior branding, no padding,…</p>
                                </div>
                                <a href="blog-details-right-sidebar.html" class="link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 learts-mb-40">
                        <div class="blog">
                            <div class="image">
                                <a href="blog-details-right-sidebar.html"><%= image_tag "blog/s370/blog-9.jpg" %></a>
                            </div>
                            <div class="content">
                                <ul class="meta">
                                    <li><i class="far fa-calendar"></i><a href="#">January 22, 2020</a></li>
                                    <li><i class="far fa-eye"></i> 78 views</li>
                                </ul>
                                <h5 class="title"><a href="blog-details-right-sidebar.html">Craftsmanship and Geopolitics</a></h5>
                                <div class="desc">
                                    <p>There’s been a buzz in the world of craft and artisanship of late, and I’m not talking about a new artisanal brew, air-dried hachiko persimmons or hand-turned foraged wood beard…</p>
                                </div>
                                <a href="blog-details-right-sidebar.html" class="link">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>