<div class="section section-fluid">
    <div class="row no-gutters">

        <div class="col-lg-6 col-12">
            <div class="sale-banner9 bg-light">
                <div class="inner">
                    <div class="content">
                        <h3 class="title">New collection</h3>
                        <span class="cuppon">EVERYTHING WITH CODE: <span class="code">NEW 30</span></span>
                        <span class="offer">30% OFF</span>
                        <a href="shop.html" class="btn btn-dark btn-hover-primary">shop now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12">
            <div class="sale-banner9-image">
                <%= image_tag "banner/sale/sale-banner9-1.2.jpg" %>
            </div>
        </div>

    </div>
</div>