<div class="home12-slide-item section swiper-slide-active" data-bg-image="<%= image_url('for_use/slider/slide-4.jpg') %>">
    <div class="home12-slide1-content">
        <div class="bg"></div>
        <span class="sub-title">First-rate</span>
        <h2 class="title">JUST FOR YOU</h2>
        <%= image_tag "banner/sale/sale-banner4-1.1.png", class: "price" %>
    </div>
</div>