<div class="section section-padding">
    <div class="container">

        <div class="section-title2 text-center">
            <h2 class="title">Have a Special Inquiry?</h2>
            <p>Contact us if you need any special requests tailored just for you!</p>
        </div>

        <div class="row row-cols-md-2 row-cols-1 learts-mb-n40">

            <div class="col learts-mb-40">
                <div class="category-banner1">
                    <div class="inner">
                        <a href="/contact-us?subject=custom-request#contact-form" class="image"><img src="<%= image_url 'for_use/banner/two_banner_home_1.jpg' %>" alt=""></a>
                        <div class="content">
                            <h3 class="title">
                                <a href="/contact-us?subject=custom-request#contact-form">Personally Customized Requests</a>
                                <span class="number"></span>
                            </h3>
                            <div class="desc" style="margin-top:10px">
                                Have any design you want to realize in a product or want to make your own custom products? Book an appointment by contacting us and we will get to you once you send us your inquiry
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col learts-mb-40">
                <div class="category-banner1">
                    <div class="inner">
                        <a href="/contact-us#contact-form" class="image"><img src="<%= image_url 'for_use/banner/two_banner_home_2.jpg' %>" alt=""></a>
                        <div class="content">
                            <h3 class="title">
                                <a href="/contact-us#contact-form">Contact Us</a>
                                <span class="number"></span>
                            </h3>
                            <div class="desc" style="margin-top:10px">
                                We will be delighted to hear from you. Let us know if you have any question about what we can provide for you!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>