<div class="section section-padding pb-0">
    <div class="container">
        <div class="row learts-mb-20">

            <div class="col-md-6 col-12 align-self-center learts-mb-30">
                <div class="about-us3">
                    <span class="sub-title">Redefining fashion with natural fibers</span>
                    <h2 class="title">Natural looks our earth loves</h2>
                    <div class="desc">
                        <p>We, Pradipa.co, see the world going through a sustainability shift. Our conclusion comes to a point that more natural materials are needed for fashion industry. We are here to provide you our collections made from natural fibers. Our experience in this industry enables us to give you one-stop solution from sourcing to getting the products on your hands securely.</p>
                    </div>
                    <a href="/about-us" class="link">Learn more</a>
                </div>
            </div>
            <div class="col-md-6 col-12 text-center learts-mb-30" style="max-width:470px;max-height:530px">
                <%= image_tag "for_use/about/about-5.jpg" %>
            </div>
        </div>
    </div>
</div>