<div class="section section-padding">
    <div class="container">

        <div class="lost-password">
          <div class="login-register-title" style="margin-bottom:10px">
            <h2 class="title">Forgot Password?</h2>
            <p>Please enter your email address. You will receive a link to create a new password via email.</p>
          </div>
          <%= form_for Spree::User.new, as: :spree_user, url: spree.reset_password_path do |f| %>
            <div class="row learts-mb-n30">
                <div class="col-12 learts-mb-30">
                  <%= f.label :email, t('spree.email') %>
                  <%= f.email_field :email, required: true %>
                </div>
                <div class="col-12 text-center learts-mb-30">
                  <%= button_tag t('spree.reset_password'), type: 'submit', class: 'btn btn-dark btn-outline-hover-dark' %>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
