<div id="cookies-bar" class="cookies-bar">
    <p>
        We use cookies to personalize contents and to analyze our traffic. We only share the information about your use of our site. <a href="/privacy-policy" target="_blank">See details</a>
    </p>

    <%= link_to 'Accept', request.original_url, class: 'btn accept' %>
    <%= link_to 'Reject', request.original_url, class: 'btn reject' %>
</div>