<div id="offcanvas-cart" tabindex="-1" class="offcanvas offcanvas-end offcanvas-cart" aria-labelledby="offcanvas-cart-label" style="padding:10px 10px">
    <div class="inner">
        <div class="head">
            <span class="title">Cart</span>
            <button class="offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close">×</button>
        </div>
        <div class="body customScroll cartScroll">
            <ul class="minicart-product-list">
                <%= render partial: 'spree/elements/offcanvas_cart_item' %>
                <%= render partial: 'spree/elements/offcanvas_cart_item' %>
                <%= render partial: 'spree/elements/offcanvas_cart_item' %>
            </ul>
        </div>
        <div class="foot">
            <div class="sub-total">
                <strong>Subtotal :</strong>
                <span class="amount">$144.00</span>
            </div>
            <div class="buttons">
                <a href="shopping-cart.html" class="btn btn-dark btn-hover-primary">view cart</a>
                <a href="checkout.html" class="btn btn-outline-dark">checkout</a>
            </div>
            <p class="minicart-message">Free Shipping on All Orders Over $100!</p>
        </div>
    </div>
</div>