<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-end" style="padding:50px 40px;">
    <div class="inner customScroll">
        <div class="offcanvas-menu-search-form">
            <form action="#">
                <input type="text" placeholder="Search...">
                <button><i class="fal fa-search"></i></button>
            </form>
        </div>
        <div class="offcanvas-menu">
            <ul>
                <li><a href="/"><span class="menu-text">Home</span></a></li>
                <li><a href="/products"><span class="menu-text">Shop</span></a></li>
                <li>
                    <a href="#" class="mega-menu-title"><span class="menu-text">Popular Categories</span></a>
                    <ul class="sub-menu">
                        <li><a href="shop.html"><span class="menu-text">Potteries</span></a></li>
                        <li><a href="shop-left-sidebar.html"><span class="menu-text">Glasses</span></a></li>
                        <li><a href="shop-right-sidebar.html"><span class="menu-text">Bags</span></a></li>
                        <li><a href="shop-fullwidth-no-gutters.html"><span class="menu-text">Fashion</span></a></li>
                        <li><a href="shop-fullwidth.html"><span class="menu-text">Metals</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="mega-menu-title"><span class="menu-text">Gifts for You</span></a>
                    <ul class="sub-menu">
                        <li><a href="shop.html"><span class="menu-text">Potteries</span></a></li>
                        <li><a href="shop-left-sidebar.html"><span class="menu-text">Glasses</span></a></li>
                        <li><a href="shop-right-sidebar.html"><span class="menu-text">Bags</span></a></li>
                        <li><a href="shop-fullwidth-no-gutters.html"><span class="menu-text">Fashion</span></a></li>
                        <li><a href="shop-fullwidth.html"><span class="menu-text">Metals</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="mega-menu-title"><span class="menu-text">Our Featured Producers</span></a>
                    <ul class="sub-menu">
                        <li><a href="shop.html"><span class="menu-text">Potteries</span></a></li>
                        <li><a href="shop-left-sidebar.html"><span class="menu-text">Glasses</span></a></li>
                        <li><a href="shop-right-sidebar.html"><span class="menu-text">Bags</span></a></li>
                        <li><a href="shop-fullwidth-no-gutters.html"><span class="menu-text">Fashion</span></a></li>
                        <li><a href="shop-fullwidth.html"><span class="menu-text">Metals</span></a></li>
                    </ul>
                </li>
                <li><a href="/about-us"><span class="menu-text">About Us</span></a>
                </li>
                <li><a href="/contact-us"><span class="menu-text">Contact Us</span></a>
                </li>
                <li><a href="/blogs"><span class="menu-text">Blog</span></a>
                </li>
            </ul>

            
        </div>

        <div class="offcanvas-social flex-center mt-4">
            <a href="https://facebook.com/pradipa" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com/pradipa.co" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCCP7HQfKStTZDv5ubNRUJvg" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>

    </div>
</div>