<div id="offcanvas-search" class="offcanvas offcanvas-top search-menu">
    <div class="inner">
        <div class="offcanvas-search-form">
            <button class="offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close">×</button>
            <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
            <%= form_tag spree.products_path, method: :get do %>
                <% cache [I18n.locale, @taxons] do %>
                    <div class="row no-gutters">
                        <div class="col-lg-4 col-sm-12">
                            <%= select_tag :taxon2, 
                                options_for_select([[t('spree.all_departments'), '']] +
                                                        @taxons.map {|t| [t.name, t.id]},
                                                        @taxon ? @taxon.id : params[:taxon]), class: 'search-select select2-basic', 'aria-label' => 'Taxon' %>
                        </div>
                        <div class="col-lg-8 col-sm-12">
                            <%= search_field_tag :keywords2, params[:keywords], placeholder: 'What can we help you find?' %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>