<div id="offcanvas-search" class="offcanvas offcanvas-top search-menu">
    <div class="inner">
        <div class="offcanvas-search-form">
            <button class="offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close">×</button>
            <form action="#">
                <div class="row mb-n3">
                    <div class="col-lg-8 col-12 mb-3"><input type="text" placeholder="Search Products..."></div>
                    <div class="col-lg-4 col-12 mb-3 d-none d-sm-none">
                        <select class="search-select select2-basic">
                            <option value="0">All Categories</option>
                            <option value="kids-babies">Kids &amp; Babies</option>
                            <option value="home-decor">Home Decor</option>
                            <option value="gift-ideas">Gift ideas</option>
                            <option value="kitchen">Kitchen</option>
                            <option value="toys">Toys</option>
                            <option value="kniting-sewing">Kniting &amp; Sewing</option>
                            <option value="pots">Pots</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-12 mb-3"><button type="submit">Search</button></div>
                </div>
            </form>
        </div>
    </div>
</div>