<% if !current_page.last? %>
    <%= link_to url, remote: remote, class: '' do %>
        <li class="btn btn-dark btn-outline-hover-dark page-frontend bring-to-front">
            <%= raw(t 'views.pagination.next') %>
        </li>
    <% end %>
<% end %>