<% if page.current? %>
    <li class="btn btn-dark btn-outline-hover-dark active page-frontend bring-to-front">
        <%= content_tag :a, page, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: '' %>
    </li>
<% else %>
    <%= link_to url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: '' do %>
        <li class="btn btn-dark btn-outline-hover-dark page-frontend bring-to-front">
            <%= page %>
        </li>
    <% end %>
<% end %>