<li class="btn btn-dark btn-outline-hover-dark page-frontend bring-to-front">
    <%= link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, rel: 'prev', remote: remote, class: '' %>
</li>