<div class="section section-padding">
    <div class="container">
        <h1 class="title">Cart</h1>
        <%= form_for @order, url: update_cart_path, html: {id: 'update-cart'} do |order_form| %>
          <div data-hook="inside_cart_form">
            <div data-hook="cart_items">
              <%= render 'spree/orders/form', order_form: order_form %>
            </div>
          </div>
        <% end %>
    </div>

</div>