<div id="order_details" class="checkout-confirm" data-hook>
  <div class="state p-success">
    <p style="white-space:normal;">
      By clicking Place Order, I agree to the <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a> 
      and <a href="/return-policy" target="_blank">Return Policy</a> of Hallchant for this purchase. I am responsible for
      for my own action as stated previously and acknowledge the <a href="/privacy-policy" target="_blank">Privacy Policy</a> 
      when using Hallchant's service.
    </p>
  </div>

  <div class="form-buttons mt-4" data-hook="buttons" style="margin:auto;width:50%;text-align:center">
    <%= button_tag class: 'btn btn-dark btn-outline-hover-dark', type: :submit do %>
      <i class="fa fa-cash-register"></i> <%= t('spree.place_order') %>
    <% end %>
  </div>
</div>
