<div class="col learts-mb-40">
    <div class="category-banner4">
        <a href="shop.html" class="inner">
            <div class="image"><%= image_tag "banner/category/banner-s4-1.jpg" %></div>
            <div class="content" data-bg-color="#f4ede7">
                <h3 class="title">Gift ideas</h3>
            </div>
        </a>
    </div>
</div>