<li>
    <a href="product-details.html" class="image"><<%= image_tag "product/cart-product-1.jpg" %></a>
    <div class="content">
        <a href="product-details.html" class="title">Walnut Cutting Board</a>
        <span class="quantity-price">1 x <span class="amount">$100.00</span></span>
        <a href="#" class="remove">×</a>
    </div>
</li>