<% if request.path.include?("checkout") && !mobile_device? %>
    <a href="https://wa.link/bp9y09" class="wa-float" target="_blank">
        <i class="fab fa-whatsapp wa-my-float"></i>
    </a>
<% end %>