<div class="section section-padding">
    <div class="container">
        <div class="row row-cols-lg-1 row-cols-1 learts-mb-n40">

            <div class="col learts-mb-40">
                <!-- Section Title Start -->
                <div class="section-title2">
                    <h1 class="title">Frequently Asked Questions</h2>
                </div>
                <!-- Section Title End -->
                <div class="row">
                    <div class="col">
                        <div class="accordion" id="faq-accordion">
                            <div class="card active">
                                <div class="card-header">
                                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#faq-accordion-1">How do I order through Pradipa.co?</button>
                                </div>

                                <div id="faq-accordion-1" class="collapse show" data-bs-parent="#faq-accordion">
                                    <div class="card-body">
                                        <p>You can first contact us by clicking the phone icon on the navigation bar above to reach us. We will learn your requirements first and then deliver the best solutions for you</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#faq-accordion-2">How can I ask for a sample of the product?</button>
                                </div>

                                <div id="faq-accordion-2" class="collapse" data-bs-parent="#faq-accordion">
                                    <div class="card-body">
                                        <p>We have the catalog of the products that we offer on this website. You can click on one of the product you are interested in and there is a button on the page where you can contact us.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#faq-accordion-3">What is the period of sampling time?</button>
                                </div>

                                <div id="faq-accordion-3" class="collapse" data-bs-parent="#faq-accordion">
                                    <div class="card-body">
                                        <p>Depends on the complexity of your specification. Once we receive your specification, usually it takes 2 weeks until the sample arrives on your hand.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#faq-accordion-4">Is there any MOQ for each order?</button>
                                </div>

                                <div id="faq-accordion-4" class="collapse" data-bs-parent="#faq-accordion">
                                    <div class="card-body">
                                        <p>Yes, we will have a MOQ based on the products you want to order. To learn more about this, contact us first and we will explain the MOQ complete with the shipping procedure and time of the order for the products.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#faq-accordion-5">What is the production time?</button>
                                </div>

                                <div id="faq-accordion-5" class="collapse" data-bs-parent="#faq-accordion">
                                    <div class="card-body">
                                        <p>Once we have received the initial payment, we will process the order immediately. Our capability depends on the order that we receive at the same time but typically you can expect around 90 pieces per month.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>