<div class="page-title-section section" data-bg-image="<%= image_url 'for_use/bg/about-us-title-2.jpg' %>">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title">Natural Fibers</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Natural Fibers</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n30">
            <div class="col-lg-4 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <span class="sub-title">Started with dedication to providing natural solutions</span>
                    <h1 class="title" style="font-size:48px">Water Hyacinth and Banana Bark</h1>
                </div>
            </div>
            <div class="col-lg-8 col-12 learts-mb-30">
                <%= image_tag 'for_use/about/about-9.jpg' %>
            </div>
        </div>
    </div>
</div>
<div class="section section-fluid section-padding pt-0">
    <%= render partial: 'spree/sections/about_content_left', locals: { title: "Water Hyacinth", 
        subtitle: "Treasure on the water", 
        body: "Despite the uncontrollable invasion to the water ecosystem this plants possess, it has many benefits in the hands of the experts. This also means that purchasing the products made out of water hyacinth directly impacts the sustainability of our earth. By supporting the products made out of water hyacinth, we help the environment by controlling the invasion of the plants from ruining the water ecosystem. It will also help socially by providing job opportunities for the people in needs as our producers empower the women who usually stay at home and take care of their children. Seeing from sustainable perspective, this plant could become the treasure on the water for humanity.", 
        image_url: "for_use/about/about-10.jpg" } %>
    <%= render partial: 'spree/sections/about_content_right', locals: { title: "Banana Tree Bark", 
        subtitle: "The resilient tropical fiber", 
        body: "Our producer's long experience in the field tells us that banana bark fiber is the strongest and most long-lasting fiber in the market compared to the ones we already know like raffia and palm fiber. This is our greatest advantage over our competitors. Besides being long-lasting, supporting products made out of banana bark will directly impact the environment as our producer's motivation in using banana bark besides being of great quality, if banana bark is left decomposed it will invite mosquitoes that aren't good for the humans.", 
        image_url: "for_use/about/about-11.jpg" } %>
</div>
<div class="parallax-banner parallax-banner-3" data-scrollax-parent="true" style="background:#00000044">
    <div class="parallax-image" data-scrollax="properties: { translateY: '30%' }">
        <div class="iframe-video video-player" data-video-code="IqVVZw3UhoA" style="transform:scale(1.12)"></div>
    </div>
</div>