<div style="padding: 50px">
    <div style="margin-top:50px">
        <h5>Definition</h5>
        <p>To clarify the terms that will be used as a return policy, we define several terms as the following:
            <ul>
                <li>The “Seller” refers to Pradipa team, responsible as a medium for the merchants in Indonesia to sell the items;</li>
                <li>The “Selling Platform” refers to platforms used by Pradipa to sell the items. In this case, the used platform for selling is eBay;</li>
                <li>The “Buyer” refers to a person who buys the items via Pradipa's Selling Platform;</li>
                <li>The “Returnable Items” refer to the items that are eligible for return. This includes items purchased through our Selling Platform that are damaged by seller’s fault, shipper’s fault, have not been previously returned;</li>
                <li>The “Return’s Shipping Cost” refers to the costs needed to ship the returned items;</li>
                <li>The “Return’s Window Time” refers to the window of time, within 30 days, for the Buyer to report the Seller;</li>
                <li>The “Non Returnable Items” refer to the items that are not eligible for return. This includes the items that are damaged by Buyer’s fault, have been returned once, and are not purchased through our Selling Platform;</li>
                <li>The “Proof of Return Eligibility” refers to the proof that must be sent to Seller to prove the eligibility for return. This solely includes the unboxing video of the Returnable Items without any prior editing and directly unboxed after receiving.</li>
            </ul>
        </p>

        <h5>Return Procedure</h5>
        <p>
        The following is the step-by-step procedure that Buyer should take in order to process the Returnable Items’ return:
        <ul>
            <li>Shoot the video of unboxing that can be used as a Proof of Return Eligibility to claim your return items;</li>
            <li>Send the Proof of Return Eligibility within Return’s Window Time to sales@pradipa.co. From this point, we will review your Proof of Return Eligibility and decide whether you are eligible for return. This process takes up to 2-3 days;</li>
            <li>After decided that you are eligible for return, we will ship immediately after you have cleared the payment for Return’s Shipping Cost;</li>
            <li>From this point, the item(s) that have been shipped will be considered as Non Returnable Items regardless any damage and/or fault that occurs to the items.</li>
        </ul>
        </p>
    </div>
</div>