<div>
    <h3 style="text-align:center">Input your tracking number on the input box shown below</h3>
</div>
<iframe src="https://www.kurasi.co.id/tracking" height="100%" width="100%" style="margin-top:40px"></iframe>