<li class="widget-blog">
    <div class="thumbnail">
        <a href="blog-details-right-sidebar.html"><img src="<%= image_url 'blog/widget/widget-1.jpg' %>" alt="Widget Blog Post"></a>
    </div>
    <div class="content">
        <h6 class="title"><a href="blog-details-right-sidebar.html">Start a Kickass Online Blog</a></h6>
        <span class="date">January 22, 2020</span>
    </div>
</li>