<%
    notif ||= OrderNotification.new
    url = ""
    title = ""
    badge = "info"
    if notif.notif_type == "shipping_request"
        case notif.title
        when "new"
            url = main_app.producer_dashboard_shipping_requests_page_path
            title = I18n.t 'notif.new_shipping_request'
            badge = "info"
        else
            title = ""
        end
    end
%>

<a href="<%= url %>" class="dropdown-item preview-item">
    <div class="preview-thumbnail">
        <div class="preview-icon bg-<%= badge %>">
            <i class="ti-settings mx-0"></i>
        </div>
    </div>
    <div class="preview-item-content">
        <h6 class="preview-subject font-weight-normal"><%= title %></h6>
        <p class="font-weight-light small-text mb-0 text-muted moment-container">
            <%= notif.created_at %>
        </p>
    </div>
</a>