<div class="section section-padding" style="padding-top:20px">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <div class="page-title">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Blogs</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row learts-mb-n50">
            <%  paginated_blogs = @blogs if params.key?(:keywords)
                paginated_blogs ||= @blogs %>

            <div class="col-xl-9 col-lg-8 col-12 learts-mb-50">
                <div class="row isotope-grid learts-mb-n40">
                    <div class="col-1 grid-sizer"></div>
                    <% @blogs.each do |blog| %>
                        <%= render partial: 'spree/blogs/partials/grid', locals: { blog: blog } %>
                    <% end %>
                </div>

                <div class="row learts-mt-50">
                    <% if paginated_blogs.respond_to?(:total_pages) %>
                        <div class="text-center learts-mt-70 enable-x-scroll bring-to-front">
                            <%= paginate paginated_blogs, theme: 'store_frontend' %>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-12 learts-mb-10">
                <div class="single-widget learts-mb-40">
                    <div class="widget-search">
                        <form action="#">
                            <input type="text" placeholder="Search posts....">
                            <button><i class="fal fa-search"></i></button>
                        </form>
                    </div>
                </div>

                <div class="single-widget learts-mb-40">
                    <h3 class="widget-title product-filter-widget-title">Recent Post</h3>
                    <ul class="widget-blogs">
                        <% @blogs.last(3).each do |blog| %>
                            <%= render partial: 'spree/blogs/partials/recent_post', locals: { blog: blog } %>
                        <% end %>
                    </ul>
                </div>

                <div class="single-widget learts-mb-40">
                    <div class="widget-banner">
                        <img src="assets/images/banner/widget-banner.jpg" alt="">
                    </div>
                </div>

                <div class="single-widget learts-mb-40">
                    <h3 class="widget-title product-filter-widget-title">Categories</h3>
                    <ul class="widget-list">
                        <li><a href="#">Gift ideas</a> <span class="count">11</span></li>
                        <li><a href="#">Feature</a> <span class="count">2</span></li>
                        <li><a href="#">Kitchen</a> <span class="count">11</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>