<% admin_breadcrumb(link_to 'Collection', main_app.admin_collections_path) %>
<% admin_breadcrumb('New Collection') %>

<% content_for :page_actions do %>
<% end %>
<%= render partial: 'spree/shared/error_messages', locals: { target: @collection } %>
<%= form_for @collection, url: main_app.admin_collections_path, html: { method: :post } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <div class="clear"></div>

  <%= render partial: 'spree/admin/shared/new_resource_links', locals: {collection_url: main_app.admin_collections_path} %>
<% end %>