<div class="footer3-section section section-fluid section-padding bg-light">
    <div class="container">
        <div class="row learts-mb-n40">

            <div class="col-xl-4 col-lg-5 col-12 learts-mb-40">
                <div class="widget-contact">
                    <a href="mailto:admin@pradipa.co"><p class="email">admin@pradipa.co</p></a><br>
                    <a href="http://wa.link/bp9y09"><p class="phone">(+62) 812 8793 5234</p></a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-7 col-12 learts-mb-40">
                <div class="row row-cols-sm-3 row-cols-1 learts-mb-n40">
                    <div class="col learts-mb-40">
                        <ul class="widget-list">
                            <li><a href="#">Daily Gifts</a></li>
                            <li><a href="#">Wedding Gifts</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Home Decorations</a></li>
                        </ul>
                    </div>
                    <div class="col learts-mb-40">
                        <ul class="widget-list">
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                            <li><a href="/return-policy">Return Policy</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col learts-mb-40">
                        <ul class="widget-list">
                            <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/track-my-package">Track My Package</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-12 learts-mb-40">
                <h5 class="widget-title mb-2">Newsletter</h5>
                <form id="mc-form" class="mc-form widget-subscibe2">
                    <input id="mc-email" autocomplete="off" type="email" placeholder="Enter your e-mail address">
                    <button id="mc-submit" class="btn">subscribe</button>
                </form>
                
                <div class="mailchimp-alerts text-centre">
                    <div class="mailchimp-submitting"></div>
                    <div class="mailchimp-success text-success"></div>
                    <div class="mailchimp-error text-danger"></div>
                </div>

                <h5 class="widget-title mb-4 mt-4">Our Social Media</h5>
                <div class="col learts-mb-40">
                    <ul class="widget-list list-group list-group-horizontal-md">
                        <a href="https://www.facebook.com/pradipa" target="_blank"><li class="widget-item"> <i class="fab fa-facebook-f"></i>Facebook</li></a>
                        <a href="https://www.instagram.com/pradipa.co" target="_blank"><li class="widget-item"> <i class="fab fa-instagram"></i>Instagram</li></a>
                        <a href="https://www.youtube.com/channel/UCCP7HQfKStTZDv5ubNRUJvg" target="_blank"><li class="widget-item"> <i class="fab fa-youtube"></i>Youtube</li></a>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="footer3-bottom section section-fluid section-padding bg-light pt-0">
    <div class="container">
        <div class="row align-items-end learts-mb-n40">

            <div class="col-md-4 col-12 learts-mb-40 order-md-2">
                <div class="widget-about text-center">
                    <%= image_tag "logo/logo.png", style: "max-width: 220px" %>
                </div>
            </div>

            <div class="col-md-4 col-12 learts-mb-40 order-md-3">
                <div class="widget-payment text-center text-md-right">
                    <%= image_tag "others/pay.png" %>
                </div>
            </div>

            <div class="col-md-4 col-12 learts-mb-40 order-md-1">
                <div class="widget-copyright">
                    <p class="copyright text-center text-md-left">&copy; 2021 Pradipa. All Rights Reserved</a></p>
                </div>
            </div>

        </div>
    </div>
</div>