<div id="social-login-container social-signin-links mt-4">
    <% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
        <span>or Sign In With</span><br>
    <% end %>
    <% Spree::AuthenticationMethod.available_for(spree_current_user).each do |method| %>
        <% if method.provider == "google_oauth2" %>
            <div class="google btn social-btn mt-2">
                <%= link_to(content_tag(:i, ' Login with Google', class: "fab fa-google"),
                spree.send("spree_user_#{method.provider}_omniauth_authorize_path", r: rand),
                title: t('spree.sign_in_with', provider: method.provider), class: "social-btn") if method.active do %>
                    <i class="fab fa-google"></i> Login with Google
                <% end %>
            </div>
        <% elsif method.provider == "facebook" %>
            <div class="facebook btn social-btn mt-2">
                <%= link_to(content_tag(:i, ' Login with Facebook', class: "fab fa-facebook"),
                spree.send("spree_user_#{method.provider}_omniauth_authorize_path", r: rand),
                title: t('spree.sign_in_with', provider: method.provider), class: "social-btn") if method.active do %>
                    <i class="fab fa-facebook"></i> Login with Facebook
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>