<div id="social-login-container social-signin-links mt-4">
    <% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
        <span>or Sign In With</span><br>
    <% end %>
    <% Spree::AuthenticationMethod.available_for(spree_current_user).each do |method| %>
        <% if method.provider == "google_oauth2" %>
            <div class="google btn social-btn mt-2">
                <%= link_to spree.send("spree_user_#{method.provider}_omniauth_authorize_path", r: rand), style: 'color: #fff' do %>
                    <i class="fab fa-google"></i> <span class="d-none d-lg-block">Login with Google</span>
                <% end %>
            </div>
        <% elsif method.provider == "facebook" %>
            <div class="facebook btn social-btn mt-2">
                <%= link_to spree.send("spree_user_#{method.provider}_omniauth_authorize_path", r: rand), style: 'color: #fff' do %>
                    <i class="fab fa-facebook"></i> <span class="d-none d-lg-block">Login with Facebook</span>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>