<% blogs ||= [] %>

<!-- Blog Section Start -->
<div class="section section-padding">
    <div class="container">

        <!-- Section Title Start -->
        <div class="section-title2 text-center">
            <h3 class="sub-title">Blog updates</h3>
            <h2 class="title title-icon-both">From our blogs</h2>
        </div>
        <!-- Section Title End -->

        <div class="blog-carousel">
            <% blogs.each do |blog| %>
                <%= render partial: 'spree/collections/featured_post_card', locals: { title: blog.title, imgUrl: blog.featured_image.url, postUrl: main_app.blog_path(blog) } %>
            <% end %>
        </div>

    </div>
</div>
<!-- Blog Section End -->